// All Css Here
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../public/assets/css/plugins.css";
@import "../public/assets/scss/style";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "node_modules/react-modal-video/scss/modal-video.scss";

body {
  background: black;
  .forgot-password {
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 400px;
    width: 500px;
    padding: 24px;
    h2 {
      font-size: 24px;
    }
  }
}
